<div class="container">
  <ul class="collapsible collection">
    <li class="active">
      <div class="collapsible-header collection-item avatar">
        <img src="assets/images/heina-mii.jpeg" alt="" class="circle">
        2019
      </div>
      <div class="collapsible-body">
        <div class="row">
          <ul class="collapsible">
            <li>
              <div class="collapsible-header collection-item"><i class="material-icons">child_care</i>WEEK 1</div>
              <div class="collapsible-body">
                <div>
                  <p>
                    <label>
                      <input type="checkbox" disabled="disabled"/>
                      <span>FINGER EXERCISE</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" disabled="disabled"/>
                      <span>COCO CLOCK</span>
                    </label>
                  </p>

                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header collection-item"><i class="material-icons">child_care</i>
                WEEK 2
                <a class="secondary-content"><i class="material-icons">grade</i></a>
              </div>
              <div class="collapsible-body">
                <div>
                  <p>
                    <label>
                      <input type="checkbox" checked="checked" disabled="disabled"/>
                      <span>FINGER EXERCISE</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" disabled="disabled"/>
                      <span>COCO CLOCK</span>
                    </label>
                  </p>

                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header collection-item"><i class="material-icons">child_care</i>WEEK 3
              </div>
              <div class="collapsible-body">
                <div>
                  <p>
                    <label>
                      <input type="checkbox" disabled="disabled"/>
                      <span>FINGER EXERCISE</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" disabled="disabled"/>
                      <span>COCO CLOCK</span>
                    </label>
                  </p>

                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header  collection-item"><i class="material-icons">child_care</i>WEEK 4
                <a class="secondary-content"><i class="material-icons">grade grade grade</i></a>
              </div>
              <div class="collapsible-body">
                <div>
                  <p>
                    <label>
                      <input type="checkbox" checked="checked" disabled="disabled"/>
                      <span>FINGER EXERCISE</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" checked="checked" disabled="disabled"/>
                      <span>COCO CLOCK BOTH HANDS</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" checked="checked" disabled="disabled"/>
                      <span>HAPPY DAY BOTH HANDS</span>
                    </label>
                  </p>
                </div>
              </div>
            </li>
          </ul>


        </div>
      </div>
    </li>

    <li>
      <div class="collapsible-header collection-item avatar">
        <img src="assets/images/heina-mii.jpeg" alt="" class="circle">
        2018
      </div>
      <div class="collapsible-body">

        <div class="row">
          <ul class="collapsible">
            <li>
              <div class="collapsible-header collection-item"><i class="material-icons">child_care</i>WEEK 1</div>
              <div class="collapsible-body">
                <div>
                  <p>
                    <label>
                      <input type="checkbox" disabled="disabled"/>
                      <span>FINGER EXERCISE</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" disabled="disabled"/>
                      <span>COCO CLOCK</span>
                    </label>
                  </p>

                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header collection-item"><i class="material-icons">child_care</i>
                WEEK 2
                <a  class="secondary-content"><i class="material-icons">grade</i></a>
              </div>
              <div class="collapsible-body">
                <div>
                  <p>
                    <label>
                      <input type="checkbox" checked="checked" disabled="disabled"/>
                      <span>FINGER EXERCISE</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" disabled="disabled"/>
                      <span>COCO CLOCK</span>
                    </label>
                  </p>

                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header collection-item"><i class="material-icons">child_care</i>WEEK 3
              </div>
              <div class="collapsible-body">
                <div>
                  <p>
                    <label>
                      <input type="checkbox" disabled="disabled"/>
                      <span>FINGER EXERCISE</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" disabled="disabled"/>
                      <span>COCO CLOCK</span>
                    </label>
                  </p>

                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header  collection-item"><i class="material-icons">child_care</i>WEEK 4
                <a  class="secondary-content"><i class="material-icons">grade grade grade</i></a>
              </div>
              <div class="collapsible-body">
                <div>
                  <p>
                    <label>
                      <input type="checkbox" checked="checked" disabled="disabled"/>
                      <span>FINGER EXERCISE</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" checked="checked" disabled="disabled"/>
                      <span>COCO CLOCK BOTH HANDS</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" checked="checked" disabled="disabled"/>
                      <span>HAPPY DAY BOTH HANDS</span>
                    </label>
                  </p>
                </div>
              </div>
            </li>
          </ul>


        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header collection-item avatar">
        <img src="assets/images/heina-mii.jpeg" alt="" class="circle">
        2017
      </div>
      <div class="collapsible-body">

        <div class="row">
          <ul class="collapsible">
            <li>
              <div class="collapsible-header collection-item"><i class="material-icons">child_care</i>WEEK 1</div>
              <div class="collapsible-body">
                <div>
                  <p>
                    <label>
                      <input type="checkbox" disabled="disabled"/>
                      <span>FINGER EXERCISE</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" disabled="disabled"/>
                      <span>COCO CLOCK</span>
                    </label>
                  </p>

                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header collection-item"><i class="material-icons">child_care</i>
                WEEK 2
                <a  class="secondary-content"><i class="material-icons">grade</i></a>
              </div>
              <div class="collapsible-body">
                <div>
                  <p>
                    <label>
                      <input type="checkbox" checked="checked" disabled="disabled"/>
                      <span>FINGER EXERCISE</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" disabled="disabled"/>
                      <span>COCO CLOCK</span>
                    </label>
                  </p>

                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header collection-item"><i class="material-icons">child_care</i>WEEK 3
              </div>
              <div class="collapsible-body">
                <div>
                  <p>
                    <label>
                      <input type="checkbox" disabled="disabled"/>
                      <span>FINGER EXERCISE</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" disabled="disabled"/>
                      <span>COCO CLOCK</span>
                    </label>
                  </p>

                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header  collection-item"><i class="material-icons">child_care</i>WEEK 4
                <a class="secondary-content"><i class="material-icons">grade grade grade</i></a>
              </div>
              <div class="collapsible-body">
                <div>
                  <p>
                    <label>
                      <input type="checkbox" checked="checked" disabled="disabled"/>
                      <span>FINGER EXERCISE</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" checked="checked" disabled="disabled"/>
                      <span>COCO CLOCK BOTH HANDS</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" checked="checked" disabled="disabled"/>
                      <span>HAPPY DAY BOTH HANDS</span>
                    </label>
                  </p>
                </div>
              </div>
            </li>
          </ul>


        </div>
      </div>
    </li>
  </ul>
</div>
