<div class="container section">
  <div class="row">
    <div class="col s12" id="students">
      <ul class="collection with-header">
        <li class="collection-header teal-text text-light-2"><h4>Saturday-Afternoon Class</h4></li>
        <li class="collection-item avatar">
          <img src="assets/images/heina-mii.jpeg" alt="" class="circle">
          <span class="title">Leah H</span>
          <p class="grey-text">Since 2017</p>
          <a routerLink="/student" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle green">person</i>
          <span class="title">John A</span>
          <p class="grey-text">Since 2018</p>
          <!--        <a href="homework-history.html" class="secondary-content"><i class="material-icons">navigate_next</i></a>-->
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle green">person</i>
          <span class="title">Zen K</span>
          <!--        <a href="homework-history.html" class="secondary-content"><i class="material-icons">navigate_next</i></a>-->
        </li>
      </ul>
    </div>
  </div>
</div>
